html,
body {
  background: hsl(212, 45%, 89%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  font-family: "Monsieur La Doulaise";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
p {
   color:hsl(220, 15%, 55%);
  font-weight: 400;
}
.general {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_items {
  background: hsl(0, 0%, 100%);
  padding: 10px;
  width: 310px;
  border-radius: 10px;
}
img {
  border-radius: 10px;
}
.links {
  margin: 50px;
}

