html {
  background-color: hsl(212, 45%, 89%);
}
div {

  margin-top: 10%;
  margin-bottom: 1%;
  margin-left: 42%;
  border-radius: 15px;

  text-align: center;
  width: 25%;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: center;
  min-width: 250px;
  min-height: 380px;
  max-width: 250px;
  max-height: 350px;
}
.content1 {
  font-weight: 700;
  display: flex;
  font-size: 19px;

  position: relative;
  top: 65%;
}
.content2 {
  font-weight: 400;
  color: hsl(218, 44%, 22%);
  display: flex;
  font-size: 16px;

  position: relative;
  top: 65%;
}
img {
  position: relative;
  bottom: 30%;
  width: 87%;
  border-radius: 10px;
}
.attribution {
  background-color: hsl(212, 45%, 89%);
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 10%;
 
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
